/*********************************************
 * GLOBAL STYLES
 *********************************************/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Open+Sans');

/*
Colors:

#00CFFA - CYAN
#FF0038 - MAGENTA
#FFCE38 - YELLOW
#020509 - BLACK
#F8F5F2 - PEARL

*/
 body {
    background-color: #F8F5F2; 
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Slabo 27px', serif;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 40px;
    text-align: center;
    background: #FFCE38;
    color: #F8F5F2;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #020509;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
 }

 /* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */

/* Sidebar/left column */

.side {
    -ms-flex: 20%;
    /* IE10 */
    flex: 16%;
    background-color: #F8F5F2;
    padding: 20px;
}

/* Main column */

.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: #F8F5F2;
    padding: 20px;
}

/* Card stuff */
.card {
    box-shadow: 0 4px 8px 0 #020509;
    transition: 0.3s;
    border-radius: 5px;
    width: 30%;
}

.card b{
    text-align: center;
    color: #FF0038;
    font-size: 2em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #020509;
}

.container {
    padding: 4px 16px;
    background-color: #FFCE38;
}

/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}